{% extends 'base.html.twig' %}

{% block title %}Grainothèque{% endblock %}

{% block bodyclass %}'seedbank'{% endblock %}

{% block body %}
    <div class="container p-5 bg-white shadow gap-2">
        <div class="d-flex align-items-center gap-2">
            <img src= "{{ asset('build/images/pictos/picto-seed.png') }}" alt="seed pictogram" width="70">
            <h1>Choisir votre <span class="text-primary">lot de graines</span></h1>
            <a data-bs-toggle="tooltip" data-bs-placement="auto" title="Servez-vous avec sobriété. Ces graines ne peuvent servir un but commercial" class="d-block d-lg-none align-self-start">
                <i class="bi bi-info-circle-fill fs-2"></i>
            </a>
        </div>
        <p class="ps-9 d-none d-lg-block">Graines en l’air est un service entièrement gratuit qui mise sur la solidarité écologique. Nous comptons sur vous pour vous servir dans la grainothèque selon vos besoins et avec sobriété. Nous vous rappellons que l’utilisation des graines données sur notre site <span class="fw-bolder">ne peuvent servir un but commercial.</span></p>
        <div class="container w-75 mt-5">
            {{ form_start(form) }}
                {{ form_widget(form.search) }}
            {{ form_end(form) }}
        </div>
        <div class="container d-flex flex-wrap justify-content-evenly mt-7 gap-5">
            {% if seed_batches is empty %}
                <div class="d-flex flex-column justify-content-center align-items-center gap-4">
                    <p class="fs-5">Il n'y aucun lot correspondant à cette recherche</p>
                    <a href="{{ path('seed_batch_show') }}"><button class="btn btn-outline-dark btn-lg">Retour</button></a>
                </div>
            {% endif %}
            {% for seed_batch in seed_batches %}
                    {% if app.user != seed_batch.owner %}
                        {% include "components/_available_batch_card.html.twig" %}
                    {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endblock %}