{% extends 'base.form.html.twig' %}
{% block title %}Donner{% endblock %}
{% block bodyclass %}'seed-batch'{% endblock %}
{% block pictosource %}"{{ asset('build/images/pictos/picto-give.png') }}"{% endblock %}
{% block h1 %}Donner des <span class="text-info">graines</span>{% endblock %}
{% block form %}
    {{ form_start(addSeedBatchForm) }}
        {{ form_label(addSeedBatchForm.plant) }}
        {{ form_widget(addSeedBatchForm.plant) }}
        {{ form_errors(addSeedBatchForm.plant) }}

        <div class="d-flex flex-column flex-md-inline gap-3">
            <div>
                {{ form_label(addSeedBatchForm.seedQuantity) }}
                {{ form_widget(addSeedBatchForm.seedQuantity) }}
                {{ form_errors(addSeedBatchForm.seedQuantity) }}
            </div>
            <div>
                {{ form_label(addSeedBatchForm.batchQuantity) }}
                {{ form_widget(addSeedBatchForm.batchQuantity) }}
                {{ form_errors(addSeedBatchForm.batchQuantity) }}
            </div>
        </div>

        {{ form_label(addSeedBatchForm.quality) }}
        {{ form_widget(addSeedBatchForm.quality) }}
        {{ form_errors(addSeedBatchForm.quality) }}

        <div class="container d-flex justify-content-center">
            <button type="submit" class="btn btn-dark btn-lg">Donner</button>
        </div>
    {{ form_end(addSeedBatchForm) }}
{% endblock %}