{% extends 'base.form.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block bodyclass %}"login"{% endblock %}

{% block h1 %}Connexion{% endblock %}

{% block form %}
{% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post" class="d-grid gap-2 mt-5">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password" class="mt-3">Mot de passe:</label>
        <input type="password" id="password" name="_password"/>

        <input type="hidden" name="_target_path" value="/"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="container d-flex gap-4 flex-column justify-content-center align-items-center">
            <button type="submit" class="btn btn-dark btn-lg">Me connecter</button>
            <a href="{{ path('register') }}">Je n'ai pas encore de compte</a>
        </div>
    </form>

{% endblock %}