<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Graines en l'air |{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class={% block bodyclass %}{% endblock %}>
        <header>
            <!--same nav for all templates-->
            <nav class="navbar navbar-expand-lg navbar-light m-2 mt-0">
                <div class="container-fluid">
                    <a class="navbar-brand fs-2 text-dark" href="{{ path("home") }}">
                        <img src="{{ asset('build/images/logos/logo.png') }}" alt="logo" width="120">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <div class="navbar-nav d-flex gap-5-md ms-5">
                            <div class="nav-item d-flex ">
                                <a class="nav-link active" aria-current="page" href="#">Comprendre</a>
                            </div>
                            <div class="nav-item d-flex ">
                                <a class="nav-link active" aria-current="page" href="#">Donner</a>
                            </div>
                            <div class="nav-item d-flex ">
                                <a class="nav-link active" aria-current="page" href="#">Recevoir</a>
                            </div>
                            <div class="nav-item d-flex">
                                {% if app.user %}
                                <div class="nav-item d-flex">
                                    <a class="nav-link active" href="{{ path('user_account') }}">Mon compte</a>
                                </div>
                                <div class="nav-item d-flex">
                                    <a class="nav-link active" href="{{ path('logout') }}">Déconnexion</a>
                                </div>
                                {% else %}
                                    <a class="nav-link active" href="{{ path('login') }}">Connexion</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        {{ include('components/_flash_messages.html.twig') }}
        <main>
            {% block body %}
            {% endblock %}
        </main>
        <!--same footer for all templates-->
        <footer>
            <div class="container-fluid d-flex justify-content-center align-items-baseline gap-3 fixed-bottom mb-3">
                <a href="#">Conditions utilisations</a>
                <a href="{{ path("home") }}" class="d-none d-lg-block"><img src="{{ asset('build/images/logos/monogram-black.png') }}" width="40" alt="mogogram graines en l'air"></a>
                <a href="#">Mentions légales</a>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
