{#display donations requested by connected user#}
<div class = "card w-100">
    <div class = "card-header d-inline-flex justify-content-between bg-white border-0" >
      <i class="bi bi-arrow-right"></i>
      <h3 class="mb-0 mt-1 w-50">{{ requested_donation.seedBatch.plant.name }}</h3>
        {% if requested_donation.status == "En cours" %}
          <p class="h3 text-danger">{{ requested_donation.status }}</p>
        {% elseif requested_donation.status == "Finalisé" %}
          <p class="h3 text-info">{{ requested_donation.status }}</p>
        {% elseif requested_donation.status == "Annulé" %}
          <p class="h3 text-primary">{{ requested_donation.status }}</p>
        {% endif %}
    </div>
    <div class = "card-body ps-7">
          <p class="mb-0">Lot de {{ requested_donation.seedBatch.seedQuantity }} graines</p>
          <p class="mb-0">Donné par {{ requested_donation.seedBatch.owner.userName }}</p>
          <p class="mb-0">Demandé le {{ requested_donation.createdAt|date("d/m/Y") }}</p>
    </div>
  </div>